[*.cs]

# SYSLIB0023: Type or member is obsolete
dotnet_diagnostic.SYSLIB0023.severity = none

# CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = none

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = none

# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = none

# ASP5001: Type or member is obsolete
dotnet_diagnostic.ASP5001.severity = none

# CS8603: Possible null reference return.
dotnet_diagnostic.CS8603.severity = none
